.main {
    flex: 1;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5px;
}

.info {
    font-size: .6rem;
    margin-top: 15px;
}

.yourImc {
    font-size: 1.1rem;
    margin: 10px 0 50px 0;
}