* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding-bottom: 50px;
}

.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.container .leftside {
  flex: 1;
  margin-right: 40px;
}

.container .leftside h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #3a485c;
}

.container .leftside p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #6a7d88;
}

.container .leftside input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgba(150, 163, 171, .5);
  padding: 10px 2px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.container .leftside input:disabled {
  opacity: .5;
}

.container .leftside button {
  background-color: #227c9d;
  color: #fff;
  font-size: 1.1rem;
  border: 0;
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
  opacity: 1;
  transition: all ease .3s;
}

.container .leftside button:hover {
  opacity: .7;
}

.container .leftside button:disabled {
  opacity: .5;
} 

.container .rightside {
  flex: 1;
  margin-left: 40px;
  display: flex;
}

.container .rightside .grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container .rightside .big {
  position: relative;
  flex: 1;
  display: flex;
}

.container .rightside .rightArrow {
  position: absolute;
  background-color: #227c9d;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-left: -35px;
  margin-top: 50%;

  opacity: 1;
  transition: all ease .3s;
}

.container .rightside .rightArrow:hover {
  opacity: .9;
}

@media(max-width:900px) {
  header {
    padding: 0 20px;
  }

  .container {
    padding: 0 20px;
    flex-direction: column;
  }

  .container .leftside {
    margin-right: 0;
  }

  .container .rightside {
    margin-left: 0;
    margin-top: 50px;
  }

  .container .rightside .rightArrow {
    margin-left: 0;
    margin-top: 0;
    border-radius: 10px;
  }
}

@media(max-width:500px) {
  .container .rightside .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}